.img-container {
	display: inline-block;
	text-align: left;
}

.image {
	margin: 1em 1em 10em 5em;
	width: 11em;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.name-of-treat {
	position: relative;
	margin: -8em 0 -8em 0;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;

	color: #000000;
}

.description {
	position: relative;
	width: 13em;
	margin: -21em 0 0 9.5em;
	top: 366.33px;
	color: #000000;
}

.price {
	position: relative;
	margin: 28em 0 28em 14em;


	font-family: Advent Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	align-items: center;
	text-align: center;

	color: #000000;
}

.order-button {
	position: relative;
	width: 5em;

	top: -26.5em;
	left: 12em;
	background: #E8C27B;
	display: flex;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}