.drop-down-option {

	pointer-events: all;
}


.img-container {
	display: inline-block;
	text-align: center;
	align-content: center;
}

.image {
	margin: 10em 5em 1em 5em;
	width: 20em;
	height: 21em;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.name-of-treat {

	font-family: Advent Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 22px;

	color: #000000;
}

.description {
	margin: 0 5em 0 5em;
	width: 13%;
	color: #000000;
}

.price {

	font-family: Advent Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	align-items: center;
	text-align: center;

	color: #000000;
}

.order-button {

	width: 5em;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}


