@import-normalize;

.about-me-header {
	position: absolute;
	width: 143px;
	height: 22px;
	left: 6em;
	top: 15em;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.about-me-item {
	margin: 1em 0 1em 0;
}

.about-me-container {
	position: absolute;
	width: 241px;
	height: 347px;
	left: 16.99px;
	top: 16.5em;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.testimony-container {
	position: relative;
	width: 280px;
	left: 65em;
	top: -34.5em;
}

.testimony-item {
	width: 20%;
	font-family: Advent Pro;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}

.testimony {
	position: relative;
	width: 162px;
	height: 22px;
	left: 53em;
	top: -27em;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;


	text-align: center;

	color: #000000;
}

.founder-header {

	position: relative;
	width: 216px;
	height: 45px;
	left: 25em;
	top: 400.34px;

	font-family: Advent Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-align: center;

	color: #000000;

}

.founder-img {
	position: relative;
	width: 166px;
	height: 250px;
	right: 2em;
	top: 27.5em;

}

.mission-statement {
	position: relative;
	width: 267px;
	height: 84px;
	left: 24em;
	top: 22.2em;

	font-family: Advent Pro;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;

	color: #000000;
}