@import-normalize;

.title {
  position: relative;

  height: 57.45px;
  left: 1em;
  top: -4.25px;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 62px;
  text-align: center;

  color: #04A6DA;


  transform: matrix(1, 0, 0, 1, 0, 0);
}

.nav-bar {
  text-align: center;
  border: 3px solid #E8C27B;
  background: #E8C27B;
}

.nav-bar-item {
  display: inline-block;
  margin: 0 3em 0 3em;
}

.nav-bar-item a {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.nav-bar-item {
  color: black;
}

ul {
  list-style: none;
}

.nav-bar ul {
  display: flex;
}

#nav-1 {
  width: 90%;
}

#nav-2 {
  display: flex;
  justify-content: flex-end;
}

.shopping-cart {
  width: 27px;
  height: 22px;
  top: 74px;
}


.reviews {
  position: relative;
  margin: -15em 4em;
}

.review-item {
  width: 350.14px;
  height: 70.71px;
  margin-bottom: 4em; 
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px white;

  background: #E8C27B;
  border: 1px solid #04A6DA;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  transform: matrix(0.98, -0.21, 0.21, 0.98, 0, 0);
}

.contact {
  position: absolute;
  width: 167px;
  height: 32px;
  left: 45em;
  top: 12em;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;

}

.phone {
  position: absolute;
  width: 210px;
  height: 29px;
  left: 43.5em;
  top: 14em;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;

}

.email {
  position: absolute;
  width: 252px;
  height: 29px;
  left: 42.5em;
  top: 16em;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;

}

.instagram, .facebook {
  position: relative;
  left: 27.2em;
  margin: 2em;
  top: -2em;
  z-index: 1;
}

.cashapp, .venmo {
  position: relative;
  left: 27.2em;
  margin: 2em;
  top: 1em;

}


.cashapp {
  top: -.1em;
}


.payment-options {
  position: absolute;
  width: 167px;
  height: 32px;
  left: 44.5em;
  top: 24em;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;

}

.slide-container, .slider-item {
  position: relative; 
  width: 20%;
  left: 35em;
  top: 15em;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

.homies {
  margin-top: 5%;
  width: 30%;
}

.homies-2 {
  margin-top: 5%;
  width: 25%;
  height: 60%;
  align-self: center;
}

.contacts {
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
}

.media img {
  margin: 5px 30px;
  width: 50px;
}
